* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
  margin: 0;
  border: 0;
  background-color: transparent;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.game {
  display: flex;
  align-items: center;
  max-width: 570px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 0 auto;
}

.form-control {
  width: 100% !important;
  margin-bottom: 20px !important;
}

.card {
  margin: 0px 20px;
  width: 23%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 35px;
  background-color: rgb(22, 25, 72);
  transition: all 0.2s linear;
  cursor: pointer;
}

.card.open {
  background-color: rgb(202, 199, 51);
  color: #fff;
}

.card.sucsess {
  background-color: rgb(23, 133, 41);
  color: #fff;
  transform: scale(1.15);
}
